.main-container{
    display:flex;
    height:80vh;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.form-fields{
    display:flex;
    flex-direction: column;
    padding: 10px;
    gap:10px;
}

.map-container{
    display: flex;
    justify-content: center;
    margin: auto;
}